.logo {
    width: 25%;
    height: auto;
}
.logo-center {
    text-align: center;
}
ul li {
    text-align: center;
    text-decoration: none;
    list-style: none;
    margin-top: .5rem;
    margin-left: -2rem;
    padding-bottom: .5rem;
}
li a {
    color: #f2f2f2;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
}
header {
    background-color: #3c3b3a;
    padding-bottom: .5rem;
}
h1 {
    color: #3c3b3a;
    font-family: 'raleway', sans-serif;
    font-weight: bold;
    text-align: left;
    margin-left: 1.5rem;
}
p {
    color: #3c3b3a;
    font-family: 'raleway', sans-serif;
    text-align: left;
    margin-left: 1.5rem;
    line-height: 1.5rem;
}
button {
    font-family: 'raleway', sans-serif;
}
.fa-solid {
    font-size: 3rem;
    opacity: 75%;
}
.home-icons {
    display: flex;
    column-gap: 5rem;
    row-gap: 5rem;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1rem 0;
}
.home-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home-icon-text {
    font-family: 'raleway', sans-serif;
    font-size: 1.2rem;
    color: #26a682;
}
.started {
    text-align: center;
}
.started button {
    background-color: #26a682;
    color: #f2f2f2;
    font-family: 'raleway', sans-serif;
    padding: .5rem 2rem;
    border-radius: 50px;
    font-size: 32px;
    font-weight: bold;
    box-shadow: 2px 10px 15px grey;
    border: none;
    width: 80%;
}
.girl, .school {
    margin-top: 2rem;
}
.girl-img {
    max-width: 100%;
    height: auto;
    margin-top: 2rem;
}
.school-img {
    max-width: 100%;
}
.school-container h2 {
    margin-left: 1.5rem;
    color: #3c3b3a;
    font-family: 'raleway', sans-serif;
    font-weight: 600;
    font-style: italic;
    margin-bottom: 0;
}
.school-container h3 {
    color: #26a682;
    font-family: 'raleway', sans-serif;
    font-weight: 500;
    margin-left: 1.5rem;
    margin-bottom: 0;
    margin-top: .5rem;
}
.school-container p {
    font-weight: lighter;
    line-height: 2rem;
}
.learn {
    display: flex;
    justify-content: flex-end;
    margin: 1.5rem 1.5rem;
}
.learn-more {
    background-color: #26a682;
    color: #f2f2f2;
    font-size: 20px;
    font-family: 'raleway', sans-serif;
    padding: 1rem 2rem;
    border-radius: 30px;
    font-weight: bolder;
    box-shadow: 2px 10px 15px grey;
    border: none;
}
.simon-img {
    max-width: 40%;
    border-radius: 50%;
    border: 5px white solid;
}
.simon {
    text-align: center;
    color: #f2f2f2;
    background-color: #3c3b3a;
    padding: 1rem 0;
    line-height: 2rem;
}
.simon p {
    color: #f2f2f2;
    line-height: 2rem;
    margin: 2rem 3rem;
}
.beers-img {
    max-width: 100%;
}
.beers h2 {
    margin-left: 1.5rem;
    color: #3c3b3a;
    font-family: 'raleway', sans-serif;
    font-weight: 600;
    font-style: italic;
    margin-bottom: 0;
}
.beers h3 {
    color: #26a682;
    font-family: 'raleway', sans-serif;
    font-weight: 500;
    margin-left: 1.5rem;
    margin-bottom: 0;
    margin-top: .5rem;
}
.beers p {
    font-weight: lighter;
    line-height: 2rem;
}
footer p {
    grid-area: follow;
    text-align: center;
    color: #f2f2f2;
    font-family: 'raleway', sans-serif;
    font-weight: 500;
    font-size: 30px;
    margin-bottom: .5rem;
}
footer {
    background-color: #3c3b3a;
    text-align: center;
    color: #f2f2f2;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
footer .icons {
    font-size: 2rem;
    grid-area: icons;
    display: flex;
    justify-content: center;
    word-spacing: .25rem;
}
.myBtn {
    display: flex;
    justify-content: right;
}
.myBtn p, a {
    grid-area: top;
    color: #f2f2f2;
    text-decoration: none;
    font-size: 10px;
    margin-right: 1rem;
}